header {
    display: flex;
    justify-content: center;
    text-align: center;
}
.integers-container {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
}

.key-calc {
    background-color:  burlywood;
}

.cal-container {
    justify-content: center;
    display: flex;
    height: 400px;
    margin-top: 10%;
}
